.search{
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 40rem;
  max-width:80vw;

}

.input, .button {
  height: 4rem;
  font-family: 'Lato', sans-serif;;
  border: 0;
  color:  #2f2f2f;
  font-size: 1.2rem;
}
.input[type="search"]::-webkit-search-cancel-button{
  appearance:none;
}

.input[type="search"] {
  outline: 0; 
  width: 100%;
  background:#f3f0f0;
  padding: 0 0.6rem;
  border-radius: .7rem;
  appearance: none;
  transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);;
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  font-weight: bold;
  color:black;
  background:  #57bd84;
  border-radius: 0 .7rem .7rem 0;
}
.input:not(:placeholder-shown) {
  border-radius: .7rem 0 0 .7rem;
  width: calc(100% - 6rem);
  border-radius: .7em .7em .0 0;
  '+' .button {
    display: block;
  }
  
}
.label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .search{
    left:40%;
    width:100vw;
    /* background:red; */
    /* transform: translate(-50%,50%); */
    transform: unset;
    margin-left: 10%;
    transform: translateX(-50%);

  }
  .input{
    /* color:red; */
    margin:0;
    /* height:20px;
    padding:10px; */
    /* width:120px; */
  }
  .input:not(:placeholder-shown) {
    border-radius:none;
    
    width:80vw;
    '+' .button {
      display: none;
    }
  }
}
