.searchContainer{
    position: absolute;
    /* top:40%;
    
    left:50%;
    transform: translate(-50%,-50%); */
    background:#f3f0f0;
    width: 34rem;
    min-width: max-content;
    max-width:55vw;
    /* padding: 0 0.6rem; */
    margin-left:3rem;
    margin-right:100px;
    border-radius: 0px  0 5px 10px;
    
}
.item{
    display: block;

    color:red;
    padding:4px;
    padding-left: 10px;
    text-align: left;
    font-size:18px;
    cursor: pointer;
}

.item:hover{
    background:#e6e0e0;
}
@media screen and (max-width: 700px) {
    .searchContainer{
        margin-left: 0px;
        max-width: 100%;
        min-width: 50%;
    }
}